In [1]:
from hana_ml import dataframe
from hana_ml.algorithms.pal.utility import DataSets
from gen_ai_hub.proxy.langchain import init_llm
llm = init_llm('gpt-4.1', temperature=0.0, max_tokens=512)

In [ ]:
address = "xxxxxxxx"
port = 443
user = "PALDEVUSER"
password = "xxxxx"
cc = dataframe.ConnectionContext(address=address, port=port, user=user, password=password)
hana_df, _, _, _ = DataSets.load_iris_data(cc)
hana_df = hana_df.to_head("ID")

Table IRIS_DATA_FULL_TBL exists.

In [3]:
from hana_ai.smart_dataframe import SmartDataFrame

sdf = SmartDataFrame(hana_df)

In [4]:
from hana_ai.tools.df_tools.fetch_tools import FetchDataTool
fetch_tool = FetchDataTool(connection_context=cc, return_direct=True)

sdf.configure(tools=[fetch_tool], llm=llm)

In [5]:
sdf.ask("show me the first 5 rows of the dataframe")

   ID  SEPALLENGTHCM  SEPALWIDTHCM  PETALLENGTHCM  PETALWIDTHCM      SPECIES
0   0            5.1           3.5            1.4           0.2  Iris-setosa
1   1            4.9           3.0            1.4           0.2  Iris-setosa
2   2            4.7           3.2            1.3           0.2  Iris-setosa
3   3            4.6           3.1            1.5           0.2  Iris-setosa
4   4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
new_df = sdf.transform("show me the first 5 rows of the dataframe")

In [7]:
new_df.collect()

   ID  SEPALLENGTHCM  SEPALWIDTHCM  PETALLENGTHCM  PETALWIDTHCM      SPECIES
0   0            5.1           3.5            1.4           0.2  Iris-setosa
1   1            4.9           3.0            1.4           0.2  Iris-setosa
2   2            4.7           3.2            1.3           0.2  Iris-setosa
3   3            4.6           3.1            1.5           0.2  Iris-setosa
4   4            5.0           3.6            1.4           0.2  Iris-setosa