In [1]:
from hana_ml import dataframe
from hana_ml.algorithms.pal.utility import DataSets
from gen_ai_hub.proxy.langchain import init_llm
llm = init_llm('gpt-4.1', temperature=0.0, max_tokens=512)

url="6291b51a-ea33-4ade-bb5c-0b8f1a032b9d.hana.demo-hc-3-hna0-hc-dev.dev-aws.hanacloud.ondemand.com"
port= 443
user="PALDEVUSER"
password="Abcd1234"
cc = dataframe.ConnectionContext(address=url, port=port, user=user, password=password)

In [2]:
from hana_ml.algorithms.pal.utility import DataSets

In [5]:
bike_df = DataSets.load_bike_data(cc)

100%|██████████| 1/1 [00:00<00:00,  1.66it/s]

In [8]:
bike_df = bike_df.deselect('yr')

In [10]:
bike_df.count()

731

In [ ]:
from hana_ai.smart_dataframe import SmartDataFrame
from hana_ai.tools.df_tools.fetch_tools import FetchDataTool
from hana_ai.tools.df_tools.automatic_timeseries_tools import AutomaticTimeSeriesFitAndSave,\
    AutomaticTimeSeriesLoadModelAndPredict, AutomaticTimeSeriesLoadModelAndScore

sdf = SmartDataFrame(bike_df.head(500))
fetch_tool = FetchDataTool(connection_context=cc, return_direct=True)
autots_fit_tool = AutomaticTimeSeriesFitAndSave(connection_context=cc, return_direct=True)
sdf.configure(tools=[fetch_tool, autots_fit_tool], llm=llm)
sdf.ask("show me the first 5 rows of the dataframe")

,season,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt,days_since_2011
0,WINTER,JAN,NO HOLIDAY,SAT,NO WORKING DAY,MISTY,8.175849,80.5833,10.749882,985,0
1,WINTER,JAN,NO HOLIDAY,SUN,NO WORKING DAY,MISTY,9.083466,69.6087,16.652113,801,1
2,WINTER,JAN,NO HOLIDAY,MON,WORKING DAY,GOOD,1.229108,43.7273,16.636703,1349,2
3,WINTER,JAN,NO HOLIDAY,TUE,WORKING DAY,GOOD,1.400000,59.0435,10.739832,1562,3
4,WINTER,JAN,NO HOLIDAY,WED,WORKING DAY,GOOD,2.666979,43.6957,12.522300,1600,4